body {
  font-family: Arial, sans-serif;
  background: #eeeeee;
  text-align: center;
  padding-top: 20px;
}

.title {
  color: #333;
}

.card {
  background: rgb(90, 58, 58);
  width: 320px;
  padding: 20px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(199, 187, 187, 0.2);
}

img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

button {
  margin-top: 15px;
  background: #021122;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #060708;
}
